<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>flipkartHomePageSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf97b9">  <td>20/04/12 19:37:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="subMenuPageTest.checkProductClick()[pri:0, instance:TestClasses.subMenuPageTest@5f341870]">checkProductClick</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:43</td>   <td>-36625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.clicksubmenu()[pri:3, instance:TestClasses.flipHomePageTest@685cb137]">clicksubmenu</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/04/12 19:37:27</td>   <td>6437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;subMenuPageTest.closingTest()[pri:0, instance:TestClasses.subMenuPageTest@5f341870]">&lt;&lt;closingTest</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/04/12 19:38:02</td>   <td>41694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;productDetailPageTest.closingTest()[pri:0, instance:TestClasses.productDetailPageTest@59ec2012]">&lt;&lt;closingTest</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/12 19:36:49</td>   <td>-31204</td> <td>&nbsp;</td><td title="&lt;&lt;baseCode.end()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/12 19:37:27</td>   <td>6508</td> <td>&nbsp;</td><td title="&lt;&lt;baseCode.end()[pri:0, instance:TestClasses.subMenuPageTest@5f341870]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/12 19:38:02</td>   <td>41877</td> <td>&nbsp;</td><td title="&lt;&lt;baseCode.end()[pri:0, instance:TestClasses.productDetailPageTest@59ec2012]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:34</td>   <td>-46170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:43</td>   <td>-36626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:49</td>   <td>-31205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flipHomePageTest.endingHomepageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&lt;&lt;endingHomepageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:34</td>   <td>-46267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:34</td>   <td>-46169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:43</td>   <td>-36625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flipHomePageTest.executingHomePageTests()[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;executingHomePageTests</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/04/12 19:37:42</td>   <td>21677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;productDetailPageTest.preRequisiteForProductDetailPageTest()[pri:0, instance:TestClasses.productDetailPageTest@59ec2012]">&gt;&gt;preRequisiteForProductDetailPageTest</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/04/12 19:37:07</td>   <td>-12580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;subMenuPageTest.prerequisiteForsubMenuPageTest()[pri:0, instance:TestClasses.subMenuPageTest@5f341870]">&gt;&gt;prerequisiteForsubMenuPageTest</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/12 19:36:07</td>   <td>-72720</td> <td>&nbsp;</td><td title="&gt;&gt;baseCode.setup(java.lang.String, java.lang.String)[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/12 19:36:51</td>   <td>-29433</td> <td>&nbsp;</td><td title="&gt;&gt;baseCode.setup(java.lang.String, java.lang.String)[pri:0, instance:TestClasses.subMenuPageTest@5f341870]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/04/12 19:37:28</td>   <td>7435</td> <td>&nbsp;</td><td title="&gt;&gt;baseCode.setup(java.lang.String, java.lang.String)[pri:0, instance:TestClasses.productDetailPageTest@59ec2012]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/04/12 19:37:59</td>   <td>38724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="productDetailPageTest.testAddToCart()[pri:0, instance:TestClasses.productDetailPageTest@59ec2012]">testAddToCart</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:34</td>   <td>-46266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.testInvalidLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">testInvalidLogin</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:34</td>   <td>-46168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.testInvalidLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">testInvalidLogin</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.testInvalidLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestClasses.flipHomePageTest@685cb137]">testInvalidLogin</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.testValidLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:TestClasses.flipHomePageTest@685cb137]">testValidLogin</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.testValidLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:TestClasses.flipHomePageTest@685cb137]">testValidLogin</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/04/12 19:36:36</td>   <td>-43715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flipHomePageTest.testValidLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:TestClasses.flipHomePageTest@685cb137]">testValidLogin</td> 
  <td>main@112061925</td>   <td></td> </tr>
</table>
