<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>apiValidation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>19/11/10 10:52:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apiLatestTest.getWeatherDetails()[pri:0, instance:TestClasses.apiLatestTest@1d057a39]">getWeatherDetails</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>19/11/10 10:52:32</td>   <td>10004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="apiPostOperationTest.postOperation()[pri:0, instance:TestClasses.apiPostOperationTest@6a41eaa2]">postOperation</td> 
  <td>main@1540011289</td>   <td></td> </tr>
</table>
